.panda-card{
    border: 0px;
}
.panda-card-footer{
    background-color: white;
    border: 0px;
}
.catagories img{
    height: 60px;
}
.panda-slide .carousel-item{
    background-color: #fceae8;
    border-radius: 1em;
}
.button-slide{
    background-color: #fceae8;
    border-radius: 1em;
}